:export {
  text: {
    logo_50_medium: {
      font-family: 'Squada One', cursive;
      font-size: 5rem;
      letter-spacing: 1px;
    }
    text_9_medium: {
      font-family: 'Pretendard-Regular';
      font-size: 1.1rem;
      letter-spacing: 1px;
    }
    text_12_medium: {
      font-family: 'Pretendard-Regular';
      font-size: 1.2rem;
      letter-spacing: 1px;
    }
    text_15_medium: {
      font-family: 'Pretendard-Regular';
      font-size: 1.5rem;
      letter-spacing: 1px;
    }
    text_20_medium: {
      font-family: 'Pretendard-Regular';
      font-size: 2rem;
      letter-spacing: 1px;
    }
  }
}