@import '../styles/breakpoints.scss';

.DetailStationSearchWrap {
  width: 70%;
  height: max-content;
  display: flex;
  align-items: center;
  @media screen and (max-width: #{$breakpoint-desktop}) {
    min-width: 335px;
    width: 100%;
    justify-content: center;
    padding: 0 1rem;
  }
  .DetailStationSearch {
    width: 45vw;
    height: 2rem;
    padding: 1%;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    margin-right: 3rem;
    background-color: var(--color-input);
    position: relative;
    z-index: 999;
    .DetailStationSearchInput {
      width: 100%;
      height: 1rem;
      margin: 0 3%;
      border: none;
      outline: none;
      background-color: transparent;
      position: relative;
      font-size: 0.9rem;
    }
    .DetailStationSearchIcon {
      color: var(--color-gray);
      margin-left: 5%;
    }
  }
  .drop-true {
    background-color: var(--color-white);
  }

  .DetailStationSearchDropdown {
    font-size: 0.9rem;
    width: 45.95vw;
    position: absolute;
    top: 3.5rem;
    background-color: var(--color-white);
    border-radius: 0 0 1rem 1rem;
    z-index: 9;
    > div {
      padding-left: 1rem;
    }
    .DetailStationSerchDropdownSpace {
      padding-top: 2rem;
      background-color: var(--color-white);
    }
    .DetailStationSearchDropdownWapper {
      max-height: 8rem;
      // 스크롤
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 10px;
        background: var(--color-white);
      }
      &::-webkit-scrollbar-thumb {
        height: 30%;
        background: var(--color-black);
        border-radius: 5rem;
      }
    }
    .DetailStationSearchDropdownButton {
      width: 100%;
      background-color: var(--color-white);
      border: none;
      border-radius: 0 0 1rem 1rem;
      padding-bottom: 0.4rem;
      margin-top: 0.5rem;
      &:hover {
        background: darken(black, 10%);
        color: var(--color-white);
      }
      &:active {
        background: lighten(black, 15%);
        color: var(--color-white);
      }
    }
  }
  .DetailStationLineFilter {
    width: 23rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .DetailStationLineButton {
      width: 30%;
      height: 2.5rem;
      border: none;
      border-radius: 2rem;
      color: white;
      @mixin buttonColor($color) {
        background-color: $color;
        &:hover {
          background: lighten($color, 10%);
        }

        &:active {
          background: darken($color, 10%);
        }
      }
      &.line2 {
        @include buttonColor(#3db44b);
      }
      &.line4 {
        @include buttonColor(#08a5e3);
      }
      &.line5 {
        @include buttonColor(#8300eb);
      }
      &.false {
        opacity: 30%;
      }
    }
  }
}
