@import '../styles/breakpoints.scss';

.DetailStationSearchWrap {
  min-width: 1000px;
  width: 70%;
  height: max-content;
  display: flex;
  align-items: center;
  @media screen and (max-width: #{$breakpoint-desktop}) {
    min-width: 335px;
    width: 100%;
    justify-content: center;
    padding: 0 1rem;
  }
  .DetailStationSearch {
    width: 45vw;
    height: 2rem;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 3px solid var(--color-border);
    border-radius: 2rem;
    margin-right: 3rem;
    position: relative;
    z-index: 999;
    .DetailStationSearchInput {
      width: 100%;
      height: 1rem;
      margin: 0 3%;
      border: none;
      outline: none;
    }
    .DetailStationSearchIcon {
      margin-right: 5%;
    }
  }

  .DetailStationSearchDropdown {
    position: absolute;
    top: 4rem;
    background-color: var(--color-border);
    border-radius: 0 0 1rem 1rem;
    z-index: 99;
    > div {
      padding-left: 1rem;
    }
    .DetailStationSerchDropdownSpace {
      padding-top: 1.3rem;
      background-color: var(--color-border);
    }
    .DetailStationSearchDropdownWapper {
      width: 45vw;
      max-height: 8rem;
      overflow: auto;
      background-color: var(--color-border);
    }
    .DetailStationSearchDropdownButton {
      width: 100%;
      background-color: var(--color-border);
      border: none;
      border-top: 1px solid rgb(184, 184, 184);
      border-radius: 0 0 1rem 1rem;
      padding-bottom: 0.4rem;
      &:hover {
        background: lighten(rgb(223, 223, 223), 5%);
      }
      &:active {
        background: darken(rgb(223, 223, 223), 5%);
      }
    }
  }
  .DetailStationLineFilter {
    width: 23rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .DetailStationLineButton {
      width: 30%;
      height: 2.5rem;
      border: none;
      border-radius: 2rem;
      color: white;
      @mixin buttonColor($color) {
        background-color: $color;
        &:hover {
          background: lighten($color, 10%);
        }

        &:active {
          background: darken($color, 10%);
        }
      }
      &.line2 {
        @include buttonColor(#3db44b);
      }
      &.line4 {
        @include buttonColor(#08a5e3);
      }
      &.line5 {
        @include buttonColor(#8300eb);
      }
      &.false {
        opacity: 30%;
      }
    }
  }
}
